<h1><%=@computadora.to_s%> </h1>
<h2> Memoria </h2>
<%= @computadora.memoria %> (<%= @computadora.memoria_disponible %> disponible)

<h2> Disco </h2>
<%= @computadora.disco %> (<%= @computadora.disco_disponible %> disponible)

<h2> Programas </h2>

    <% @computadora.programas.each do |programa| %>
      <%= programa.nombre  %> - <%= programa.ejecutando ? 'Corriendo' : 'Frenado'  %>  
    <% end %>
    



<h2> Ejecutar </h2>
    <% @computadora.programas_frenados.each do |programa| %>
      <%= link_to "Ejecutar #{programa.nombre}", ejecutar_computadora_path(@computadora, params: {id_de_programa: programa.id})   %>
    <% end %>

<h2> Frenar </h2>
    <% @computadora.programas_ejecutando.each do |programa| %>
      <%= link_to "Frenar #{programa.nombre}", frenar_computadora_path(@computadora, params: {id_de_programa: programa.id})   %>
    <% end %>

<h2> Instalar </h2>
    <% @programas.each do |programa| %>
      <%= link_to "Instalar #{programa.nombre}", instalar_computadora_path(@computadora, params: {id_de_programa: programa.id})   %>
    <% end %>